<!doctype html>
<html ng-app="VOD">
<head>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/resource.js"></script>
    <script type="text/javascript" src="js/vod.js"></script>
</head>
<body>
<div ng-controller="vodCtrl">

    <table class="table table-striped">
        <tr ng-repeat="item in vodResult.items">
            <td>{{item.id}}</td>
        </tr>
    </table>
</div>
</body>
</html>